<section id="wrapper">
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body">
        <form class="form-horizontal" id="loginform" [formGroup]="loginForm" #f="ngForm"
              (submit)="signIn(f.value)">
          <div class="text-center db m-b-10">
            <img src="assets/images/S2S.jpg" alt="logo">
          </div>
          <h6 class="box-title m-b-20 text-center">Welcome to s2s Managed Services Web Portal If you are an authorized
            user, please log in below</h6>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" formControlName="username" type="text" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
                <a (click)="forgotPasswordModal.show()" id="forgot-password" class="text-dark pull-right" href="javascript:void(0);"><i
                  class="fa fa-lock m-r-5"></i> Forgot password?</a>
              </div>
            </div>
          </div>

          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button class="btn btn-block btn-primary ripple" type="submit">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--For Forgot Password Link modal -->
<div mdbModal #forgotPasswordModal="mdb-modal" class="modal fade" id="forgot-password-modal" tabindex="-1"
     role="dialog"
     aria-labelledby="Edit Customer" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #form="ngForm" [formGroup]="forgotPasswordForm" (submit)="resetPassword(form.value)">
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
          <button type="button" class="close" aria-label="Close" (click)="forgotPasswordModal.hide()">
            <span class="fa fa-times"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-12">
              <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-md-12">
              <input class="form-control" type="text" placeholder="Email" formControlName="email">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary ripple" type="submit">
              Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div mdbModal #forgotPasswordSuccessModal="mdb-modal" class="modal fade" id="forgot-password-success-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Password Reset Success" aria-hidden="true">
  <div *ngIf="forgotPasswordEmail" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="forgotPasswordSuccessModal.hide()">
          <span class="fa fa-times"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Password reset email sent to {{forgotPasswordEmail}} !</p>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-danger" (click)="forgotPasswordSuccessModal.hide()">
            <span class="fa fa-times"></span> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
